<!-- home.component.html -->
 <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
 
 
<div class="hero-section" [style.background-image]="'url(' + backgroundImageUrl + ')'">
  <div class="hero-content">
    <h1>Bienvenido a mi Portafolio</h1>
    <p>Desarrollador web</p>
    <p>Angular y Typescript</p>
    <p>Bases de datos</p>
    <p>Redes</p>
  </div>


  <section>
<p class="text_I">
En este espacio recopilo los conocimientos adquiridos en la universidad a lo largo de varios años, con el objetivo de perfeccionarlos y seguir aprendiendo.  
Comencé en el desarrollo backend con <strong>Node.js</strong> y actualmente mi tecnología principal en frontend es <strong>Angular</strong>.  
Aquí encontrarás un recorrido por temas como Redes, Bases de Datos, Seguridad, Manejo de Datos y Ciberseguridad.  
Seguiré añadiendo nuevos contenidos con la meta de continuar creciendo y ampliando mis habilidades.
</p>

  </section>
</div>